*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(../File1/m6.jpg);
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    justify-content: center;
    display: flex;
}
li a{
    color:rgb(231, 155, 13) ;
    }
a:hover{
    color: green;
    transition: 0.3s;
}

a{
    text-decoration: none;
    align-items: flex-end;
    justify-content: center;
    display: flex;
}
.header-content{
    color:rgb(231, 155, 13);
    margin-bottom: 130px;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 130px;
    height: 4px;
    margin: 10px auto;
    background:green;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.ctn{
    padding: 8px 15px;
    background:green;
    border-radius: 30px;
    color: whitesmoke;

}
.navbar{
    top: 0;
    left: 0;
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 20px;
    color:rgb(231, 155, 13);
}
ul{
    list-style: none;
}
.nav-link{
    align-items: center;
    display: flex;
}
.nav-link li{
    margin: 0 30px;

}
.active{
    color:green;
    font-weight: bold;
    text-decoration: underline;

}
.menu-btn{
    position: absolute;
    top: 30x;
    right: 30px;
    width: 40px;
    cursor: pointer;
}
@media only screen and (max-width:850px) {
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 10px;
        left: 30px;
    }    
    .nav-link{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        background: gray;
    }
    .nav-link li{
        margin:30px auto ;
    }
}
